body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin-bottom: 3px;
	margin-top: 10px;
	padding-left: 20px;
}

p.level_2 {
	padding-left: 30px;
}
p.level_3 {
	padding-left: 40px;
}
p.level_4 {
	padding-left: 50px;
}

h3 { font-size: 130%; }

h4 { font-size: 125%; }

hr {
	border: 0;
	width: 80%;
	color: #606060;
	background-color: #606060;
	height: 1px;
}

.levela {
        background-color: #FFF;
        border-bottom: #000000 1px solid;
        font-style: italic;
        margin-top: 8px;
        padding-bottom: 5px;
        padding-left: 4px;
	color: #000000;
	font-size: 110%;
}

.levelb {
	font-weight: bold;
	font-size: 100%;
	margin-top: 15px;
	margin-bottom: 12px;
}

.levelc {
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 12px;
}

.pagenum {
	font-size: 0.7em;
	color: #606060;
}


/*Jo added 9/3/2014 */
li {
margin-top: 10px;
margin-bottom: 7px;
margin-left: 20px;
font-size: 0.9em;
}

div.caption {
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 12px;
	font-size: 115%;
}

div.footnote {
	width: 70%;
	margin: 10px;
	padding: 10px;
	background-color: yellow;
	font-size: 0.8em;
	color: maroon;
}

.numerator { 
	font-size: 70%;
	vertical-align: 0.7ex; 
}

.denominator { 
	font-size: 70%;
	vertical-align: -0.3ex; 
}

/*Added by JEM - 05/2014*/

table.fr {
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 0.9em;
	margin-left: 0.50in;
	margin-bottom: 20px;
	margin-top: 20px;
}

table.fr th {
	font-weight: bold;
	color: #000000
	text-align: left;
	padding-top: 3px; 
	padding-bottom: 3px; 
	padding-left: 5px; 
	padding-right: 10px;
	border: 1px solid black;
}

table.fr td {
	padding-top: 3px; 
	padding-bottom: 3px; 
	padding-left: 5px; 
	padding-right: 10px;
	border: 1px solid black;
}
